body{
    background-color: darkslategrey;
}
p{
    color: aqua;
    text-shadow: -1px 1px 1px #000;
}
h1{
    color: chocolate;
    text-shadow: -1px 2px 3px #000;
    margin: 4%;
}
.item{
    color: blueviolet;
    
}